# Build files
build/
*.uf2
*.elf
*.bin
*.hex
*.map
*.dis

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# IDE
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
*.swp

# MATLAB STUFF
*.csv
*.m